
canvas#tahvel{
    background-color: lightblue;
    border: 1px solid darkslategrey;

}
canvas#Lipp{

    border: 1px solid darkslategrey;
}
canvas#pyhi{

    border: 1px solid darkslategrey;



}
canvas#aken{

    border: 1px solid darkslategrey;



}
